@model Quan_Ly_xe_Ra_Vao.Models.KhachNgoai

<form asp-action="Create" method="post">
    <div class="row g-4">
        <div class="col-md-6">
            <label class="fw-bold text-muted small text-uppercase mb-1">Họ và Tên (*)</label>
            <input asp-for="HoTen" class="form-control form-control-lg border-dark" placeholder="VD: Nguyễn Văn A" required>
        </div>
        <div class="col-md-6">
            <label class="fw-bold text-muted small text-uppercase mb-1">Số CCCD (*)</label>
            <input asp-for="CCCD" class="form-control form-control-lg border-dark" placeholder="12 số trên thẻ" required>
        </div>
        <div class="col-md-6">
            <label class="fw-bold text-muted small text-uppercase mb-1">Số Điện Thoại</label>
            <input asp-for="SoDienThoai" class="form-control form-control-lg border-dark" placeholder="09xxxxxxx">
        </div>
        <div class="col-md-6">
            <label class="fw-bold text-muted small text-uppercase mb-1">Biển Số Xe</label>
            <input asp-for="BienSoXe" class="form-control form-control-lg border-dark" placeholder="Nếu có đi xe...">
        </div>
        <div class="col-12">
            <label class="fw-bold text-muted small text-uppercase mb-1">Đơn vị / Phòng ban cần gặp</label>
            <select asp-for="PhongBanCanGap" class="form-select form-select-lg border-dark">
                <option value="Chưa xác định">-- Chọn bộ phận --</option>
                <option value="Phòng Giám Đốc">Phòng Giám Đốc</option>
                <option value="Phòng Nhân Sự">Phòng Nhân Sự</option>
                <option value="Khu vực Kho bãi">Khu vực Kho bãi</option>
            </select>
        </div>
        <div class="col-12 mt-5">
            <button type="submit" class="btn btn-success btn-lg w-100 fw-bold fs-5 py-3">GỬI YÊU CẦU ĐĂNG KÝ</button>
        </div>
    </div>
</form>