################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Soruce/Quan_Ly_xe_Ra_Vao/.vs
